ion-content {
    --background: black;
}

ion-toolbar {
    --background: #101010;
}

.confirmation-question {
    font-size: 18px;
    text-align: center;
}

.buttons-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.confirmation-btn {
    font-size: 20px;
    width: 40%;
}
  