<ion-header>
  <ion-toolbar>
    <ion-title>Potvrda brisanja</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="confirmation-question">Jeste li sigurni da želite da obrišete ovaj automobil?</h2>
  </ion-text>

  <ion-footer class="buttons-footer">
    <ion-button (click)="dismiss(true)" color="danger" class="confirmation-btn">Da</ion-button>
    <ion-button (click)="dismiss(false)" color="light" class="confirmation-btn">Ne</ion-button>
  </ion-footer>
</ion-content>

