ion-header[translucent] {
  --ion-toolbar-background: rgba(255, 255, 255, 0.9); /* Razjasnite pozadinu za bolje vizuelno razdvajanje */
}

ion-tab{
  padding-top: 80px;
}
  
ion-content.login-content {
  padding-top: 30px; /* Razmak između header-a i sadržaja */
  margin-top: 10px;  /* Dodatni razmak ako je potrebno */
}
  
/* Takođe, možete dodati još razmaka ako je potrebno */
ion-item {
  margin-top: 30px; /* Dodatni razmak između input polja i drugih elemenata */
}
 
.login-content p {
  font-size: 18px;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}
