<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Navigacija sa Tabovima -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" routerLinkActive="active">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/vasi-automobili" routerLinkActive="active">
      <ion-icon name="car"></ion-icon>
      <ion-label>Vaši Automobili</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/login" routerLinkActive="active">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab tab="login">
    <ion-content class="login-content">
      <!-- Ako je korisnik ulogovan, prikazuje se samo Logout dugme -->
      <div *ngIf="isLoggedIn">
        <p>Već ste prijavljeni. Ukoloiko želite da se odjavite ili promenite nalog pritisnite dugme ispod.</p>
        <ion-button expand="full" (click)="logout()">Logout</ion-button>
      </div>

      <!-- Ako korisnik nije ulogovan, prikazuju se form za login i registraciju -->
      <div *ngIf="!isLoggedIn">
        <form (ngSubmit)="login()" #loginForm="ngForm">
          <ion-item class="form-item">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item>

          <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

          <ion-button expand="full" type="submit" [disabled]="!loginForm.form.valid">Login</ion-button>
        </form>

        <ion-button expand="full" (click)="register()" [disabled]="!loginForm.form.valid">Register</ion-button>
      </div>
    </ion-content>
  </ion-tab>
</ion-tabs>
