<ion-list *ngIf="!loading && automobili.length > 0">
  <ion-item *ngFor="let automobil of automobili">
    <ion-thumbnail slot="start">
      <ion-icon name="car-outline" size="large"></ion-icon>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ automobil.kompanija }} {{ automobil.model }}</h2>
      <p>{{ automobil.kategorija }} - Godište: {{ automobil.godiste }}</p>
      <p>{{ automobil.opis }}</p>
    </ion-label>
    <ion-button 
      color="warning" 
      fill="clear" 
      slot="end" 
      routerLink="/updatepage" 
      [queryParams]="{ id: automobil.id }">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
